/* app global css */

html, body {
    color: #555;
    background-color: #cfd8dc;
}

.bg-back {
    background-color: var(--q-back);
}

.bg-disabled {
    background-color: var(--q-disabled);
}

.text-white {
    color: var(--q-white) !important;
}

.q-field--standout.q-field--highlighted .q-field__control {
    background-color: var(--q-negative);
}
